<% if(successMsg && successMsg.length) { %>
    <div class="col-6 offset-2 alert alert-info alert-dismissible fade show" role="alert">
        <strong>Success:</strong> <%= successMsg %>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(errorMsg && errorMsg.length) { %>
    <div class="col-6 offset-3 alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> <%= errorMsg %>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>